@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-dm981l');
    src:url('../fonts/icomoon.eot?#iefix-dm981l') format('embedded-opentype'),
        url('../fonts/icomoon.woff?-dm981l') format('woff'),
        url('../fonts/icomoon.ttf?-dm981l') format('truetype'),
        url('../fonts/icomoon.svg?-dm981l#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1.2;



    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-droplet:before {
    content: "\e90b";
    margin-right: .2em;
}

.icon-arrow-up2:before {
    content: "\ea3a";
    margin-right: .2em;
}

.icon-arrow-down2:before {
    content: "\ea3e";
    margin-right: .2em;
}

.icon-wind:before {
    content: "\e600";
    margin-right: .2em;
}




body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding:0;
    margin:0;
    background-color: #eeeeee;
}

/*
* Reiniciamos el estilo de los botones para iOS
*/
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: none;
}
/*
* Botones
*/
.btn {
    position: relative;
    line-height : 1;
    color : white;
    text-align: center;
    vertical-align : middle;
    font-size: .8rem;
    white-space:nowrap;
    background-color : #ff4081;
    border : none;
    font-weight: bold;
    cursor : pointer;
    margin: 0;
    margin-left: 2px;
    padding: .8rem;
    border-radius: 1px;
}

/*
* Header Styles
*/
.main-header {
    text-align: center;
    background-color: #3F51B5;
    color: white;
    padding: 1rem;
    border-top: 20px solid #303F9F;

}

    .main-header h1 {
        font-size: 2rem;
        margin: 0;

    }

    .main-header h2 {
        font-size: 1rem;
        font-weight: normal;
    }

/*
* Módulo .search
*/
.search {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding: auto;
    font-size: 1rem;
    display: none;
}

.search__text {
    width: 60%;
    font-size: 1rem;
    padding: .5rem;
}

/*
 * Loader
 */
 .loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;

}
.loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #303F9F;
  animation: loading 2s linear infinite;
  -webkit-animation: loading 2s linear infinite;

}



@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}
@-webkit-keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

 /*
* Estilizamos el módulo de las cards, cada resumen de tiempo de
* las ciudades
*/
.cards__group {
    margin: 0;
    -webkit-transform: translateZ(0);
    -webkit-transition: box-shadow 0.25s ease-in;
}
.card {
    display: flex;
    flex-direction: column;
    height: 15rem;
    width: 100%;
    background-color: white;
    color: white;
    font-family: 'Roboto', sans-serif;   
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 400ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    margin-top: 4px; 

}
.card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.card__info {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3F51B5;
    width: 100%;
    height: 
}

.card__image {
    align-self: center;
    width: 12rem;
    margin: 0;
}

.card__descr {
    flex: none;
    align-self: center;
    color: white;
    margin: 0;

}

.data__current {
    flex-direction: column;  
}

.card__maxt::after {
    content: "ºC"
}

.card__mint::after {
    content: "ºC"
}

.card__humi::after {
    content: "%";
}

.card__wind::after {
    content: "mps";
}

.card__temp {
    align-self: center;
    font-size: 2.5em;
}

.card__items {
    align-self: center;
    list-style-type: none;
    font-size: 1.3em; 
    border-left: 1px solid #fff;
    margin-left: 2em;
    margin-right: 2.5em;
    padding-left: 1em;


}
 .card__header {
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
 }

 .card__time {
    font-size: 3.2em;
    margin: 0;
    
 }
 .card__title {
    font-size: 1.8em;
    margin: .2em;

 }
 .circle{
    width: 56px;
    height: 56px;
    background-color: #ff4081;
    border-radius: 50%;
    position: absolute;
    top: 520px;
    right: 20px;
    box-shadow: 1px 1px 8px #333333;
    text-align: center;
    font-size: 2em;
    line-height: 56px;
    -webkit-animation: bounceIn 1s ;
    animation: bounceIn 1s ;
 }
 .circle:before {
    content: '+';
    display: inline-block;
    color: white;
    z-index: 500;
 }
 .out {
    -webkit-animation: bounceOut 1s ease-in-out;
    animation: bounceOut 1s ease-in-out;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
 .rotated {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media screen and (min-width: 768px) {
    .main-header{
        padding: 2rem;
    }
    .main-header h1{
        font-size: 2.5rem;
    }
    .main-header h2{
        font-size: 1.5rem;
    }
    .card {
        flex-direction: row;
        height: 10rem;
    }
    .card__header {
        width: 40%;
    }
    .card__time {
        font-size: 5em;
        margin-top: .2em;
    }
    .card__title {
        font-size: 2.5em;
        margin: 1em;
    }
    .card__items {
        font-size: 1.5em;
    }

}




























